<h1> <%= @user.first_name %> </h1>

<table>
	<tr> 
		<th> First Name </th>
		<th> Last Name </th>
		<th> DOB </th>
		<th> Items </th>
		<th> Detail Items </th>
	</tr>
   
		<tr>
			<td> <%= @user.first_name %> </td>
			<td> <%= @user.last_name %> </td>  
			<td> <%= @user.date_of_birth %> </td>
			<td> <% @user.items.each do |user| %>
		<li> <%= user.item_name %> </li>
			<% end %>
			</td>
			<td> <%= link_to "Item Details", user_items_path(@user) %>
		</tr>
</table>